[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AstraeaDB"]
	path = AstraeaDB
	url = https://github.com/astraeadb/r-astraeadb
